<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css"
          integrity="sha256-QVBN0oT74UhpCtEo4Ko+k3sNo+ykJFBBtGduw13V9vw=" crossorigin="anonymous"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="ui secondary pointing menu">
    <a class="item active">
        Accueil
    </a>
    <a class="item">
        Bot
    </a>
</div>
<div class="ui container">
    <div class="ui segment">
        {% for line in output %}
            <p>{{ line }}</p>
        {% endfor %}
    </div>
</div>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"
        integrity="sha256-qs5p0BFSqSvrstBxPvex+zdyrzcyGdHNeNmAirO2zc0=" crossorigin="anonymous"></script>
<script type="text/javascript">

</script>
</body>
</html>